@import './global.scss';

.content{
	width:400px;
	.highlight{
		color:rgb(155, 27, 27);
		font-family: gibsonSemiBold;
	}
	.path-thing{
		font-family: monospace;
		color:grey;
	}
	img{
		display:block;
		width:25%;
		margin:3em auto;
	}
}
.debug-container{
	margin-left:20px;
	margin-top:20px;
	padding:20px;
	font-family: gibsonLight;
	background: #eeeeee;
	border: 1px solid #dddddd;

}
.css-path-test{
	color:rgb(0, 0, 0);
	width:40%;
	margin:auto;
	text-align: left;
	line-height: 3em;
	background-image: url($assetpath+'images/plane.svg');
	background-repeat: no-repeat;
	background-position: 60% 50%;
}
