<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<clear/>
				<add name="Access-Control-Allow-Origin" value="*" />
			</customHeaders>
		</httpProtocol>
		<staticContent>
			<!-- <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="0.00:30:00" /> -->
            <clientCache cacheControlMode="DisableCache" />
		</staticContent>
	</system.webServer>
</configuration>